.afternavbar {
    width: 100%;
    height: 35px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    color: #282828;
    font-size: 15px;
}

.afternavbar ul {
    display: flex;
    align-items: center;

}

.afternavbar ul li {
    list-style: none;
    color: #282828;
    padding: 6px;

}

.afternavbar ul li a {
    color: #282828;
}

.afternavbar ul li a:hover {
    color: #17c6aa;
    transition: 0.3s;

}

.fa-chevron-right {
    font-size: 9px !important;

}
/* ********************************************************** */
.img{
    margin-top: 20px;
}

.img1 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.img2 {

    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}

.img img {
    width: 100%;
}

.top {
    position: absolute;
    width: 110px;
    height: 70px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
}

.top h2 {
    font-size: 20px;
    color: #282828;
}

.top p {
    font-size: 14px;
    color: #a6aab7;
}

.img2 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.Bottom {
    position: absolute;
    width: 110px;
    height: 70px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
}

.Bottom h2 {
    font-size: 20px;
    color: #282828;
}

.Bottom p {
    font-size: 14px;
    color: #a6aab7;
}
/* ***************************************************** */

.womens {
    margin-top: 70px;
    text-align: center;
}

i {
    color: black;
    font-size: 25px;

}
.menu{
    margin-bottom: 20px;
}

.menu {
    display: flex;
    justify-content: end;
    gap: 45px;
    margin-top: 40px;
}

.menu p {
    margin-top: 5px;
}

#sort option {
    background-color: #f1f1f1;

}

#sort {
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #f7f7f8;
    border: none;
}

#view {
    padding: 5px 20px;
    background-color: #f7f7f8;
    border: none;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

span {
    padding: 0px 5px;
}

.fa-solid {
    color: #aeb0b8;
    cursor: pointer;
}

.fa-black {
    color: black;
}

.fa-solid:hover {
    color: black;
    transition: 0.5s;
}

/* ****************************************************** */


.current{
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.current:hover{
    color: #17c6aa;
    transition: 0.5s;
}
.bar ul{
    padding: 0px;
    box-sizing: border-box;
}
.bar ul li{
    font-size: 13px;
    font-weight: 500;
    line-height: 29px;
    cursor: pointer;
    background-color: #17c6aa;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 0 29px 0 11px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: white;
}
.bar ul li:hover{
    background-color: black;
    transition: 0.5s;
}
.clear a{
background-color: #efefef;
color: #282828;
text-decoration: none;
padding: 4px 11px;
font-size: 13px;
font-weight: 500;
line-height: 29px;
text-transform: uppercase;
border-radius: 3px;
}
.clear a:hover{
    background-color: #282828;
    color: white;
    transition: 0.5s;
}
.clear p{
    font-size: 13px;
}
.clear span{
    font-size: 14px;
    font-weight: 500;
    line-height: 29px;
}
.clear{
    display: flex;
    gap: 120px;
}
.categories{
    display: flex;
}
.categories p{
color: #282828;
font-size: 13px;
font-weight: 500;
line-height: 29px;
}
.color-accordion{
    display: flex;
    justify-content: space-between;
}
.body-size{
    display: flex;
    justify-content: space-between;
}


.popular-tags ul li{
font-size: 13px;
background-color: #f9f9f9;
display: inline-block;
padding: 6px 13px;
box-sizing: border-box;
text-transform: uppercase;
margin-right: 6px;
margin-left: 0px;
cursor: pointer;
}

.popular-tags ul li:hover{
    background-color: #17c6aa;
    transition: 0.5s;
    color: white;
}
.popular-tags{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    
   
}
.popular-tags ul{
    
    margin-left: 0px;
}
ul{
    padding-left: 0px;
}
#jeans{
    background-color: #17c6aa;
    color: white;
}
.baner img{
    width: 100%;
    cursor: pointer;
}


/* ***************************************************************************************** */
.images img{
    width: 100%;
}

.images{
    padding-bottom: 20px;
}
.circle i{
    width: 100%;
    text-align: center;
    font-size: 200px;

}


/* ***************************************************************************************** */



.class-h2{
text-align: center;
margin-top: 60px;
}



/* ************************************************************************************************* */


.second-images{
    display: flex;
    gap: 20px;
}
.second-images img{
    width: 100%;
   
}
