
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.our-blog{

    display: flex;
    justify-content: center;
   font-family: 'Open Sans', sans-serif;
   margin: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    
    
    
}



.visual{
    margin-bottom: 30px;
    width: 900px;
    height: 300px;
    background-color: rgb(250, 246, 246);   
    display: flex;
    
}

.picture1{

    width: 300px;
    height: 300px;
    object-fit: cover;
}



.btn{
    background-color: rgb(42, 202, 176)!important;
    margin-top: 45px!important;
    height: 32px!important;
    width: 107px!important;
    font-size: 12px!important;
    font-weight: bold!important;
    border: none!important;
    text-align: center!important;
    display: flex !important;
    justify-content: center!important;
    align-items: center!important;
    color: white!important;
}

.btn:hover {

    background-color: rgb(41, 40, 40)!important;
    
}


.card{
    border: none!important;
}

.card-text{
    margin: 20px 0!important;
}

.card-title:hover {

    color:rgb(42, 202, 176)!important;
    cursor: pointer!important;
}

.date{
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    display: flex;
}

.comment{
    margin-left: 20px;
}


.main2{
    margin-left: 28px;
    width: 500px;
    height: 900px;
    
   

}

.main2-alt1{
    width: 250px;
}

.tags{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding: 8px;
    
}


li{
     margin: 5px;
    font-size: 12px;
    background-color: #f9f9f9;
    width: 70px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    line-height: 36px;
    }

li:hover{
    background-color:rgb(42, 202, 176);
    color: white;
    cursor: pointer;
    font-weight: 500;
    
    
}

.popular{
    font-weight: 500;
    margin-left: 12px;
}


.main2-alt2{
    margin: 25px 0;

}

.post{
    width: 250px;
    height: 150px;
    object-fit: cover;
}