   /*reset all pages*/ 
   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }
/*contact-pages header starting*/
    .header-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .row-img img {
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    .row-page-title {
        position: absolute;
        max-width: 500px;
        top: 140px;
        left: 400px;
    }

    .row-page-title h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 20px;
        z-index: 1;
        margin: 0 0 45px;
        padding: 0;
        color: #282828;
        font-weight: 800;
    }

    .row-page-title p {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 30px;
    }

    .footer-text {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-style: italic;
    }

    .row-page-title .faq {
        text-decoration: none;
        color: #17c6aa;
    }

    .row-page-title .faq:hover {
        text-decoration: underline;
        color: rgb(0, 0, 0);
        transition: 0.3s ease-in-out;
    }

    a {
        color: #282828;
        text-decoration: none;
        background-color: transparent;
    }

    .author {
        font-size: 15px;
        font-weight: 700;
        font-style: normal;
        line-height: 27px;
        text-align: right;
        color: #282828;
    }

    .row-page-title .author a:hover {
        text-decoration: underline;
        color: rgb(0, 0, 0);
        transition: 0.3s ease-in-out;
    }

    .foot-author {
        width: 500px;
        height: 100px;
        background-color: rgb(255, 255, 255);
    }

/*contact-pages header ending*/